<section class="w-full px-[60px] md:px-[60px] lg:px-[110px] xl:px-[200px] 2xl:px-[300px] py-[30px] flex justify-center">
    <p class="w-4/6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore magnam
        quaerat, et pariatur tempore aspernatur aliquid iure, assumenda
        reprehenderit nesciunt nihil itaque incidunt animi tempora officiis
        corrupti quisquam neque nostrum reiciendis. Veritatis, expedita vel? Eos
        nobis fugiat ipsam voluptates cupiditate, sunt vero quas maiores tempora
        voluptate illo eaque corporis dolore illum, molestias iure soluta
        placeat ratione? Obcaecati nostrum suscipit expedita fugiat magni harum
        assumenda aliquam non natus labore dolor doloremque, vero odio et
        inventore provident modi deserunt aliquid adipisci neque. Blanditiis
        quia at culpa delectus possimus non quae ullam exercitationem in laborum
        aliquid voluptatum odit doloremque, unde enim officiis aperiam?
    </p>
    <img class="rounded-full" src="/saulGoodman.jpg" width="100px" height="100px">
</section>
