<footer class="w-full mt-auto bg-[#54CCFF] px-[40px] py-[70px]">
    <div class="w-full flex justify-center">
        <ul class="w-[300px] flex justify-between">
            <li><a href="#"><img src="/github_logo.png" alt="github" width="25px"></a></li>
            <li><a href="#"><img src="/linkedin_logo.png" alt="linkedin" width="25px"></a></li>
            <li><a href="#"><img src="/twitter_logo.png" alt="twitter" width="25px"></a></li>
            <li><a href="#"><img src="/email_icon.png" alt="email" width="25px"></a></li>
        </ul>
    </div>
    
</footer>
