<section class="w-auto flex justify-center">
    <form class="w-[600px] backdrop-blur-sm bg-[#56ECBF]/30 px-[50px] py-[50px] rounded-lg shadow-lg">
        <h1 class="text-4xl">Contacto</h1>
        <div class="mt-[40px]">
            <div class="flex flex-col">
                <label>Nombre</label>
                <input class="rounded-full px-[20px] py-[10px]" type="text">
            </div>
            <div class="flex flex-col mt-[20px]">
                <label>Correo</label>
                <input class="rounded-full px-[20px] py-[10px]" type="text">
            </div>
            <div class="flex flex-col mt-[20px]">
                <label>Mensaje</label>
                <textarea class="rounded-lg px-[20px] py-[10px] resize-none" cols="30" rows="10"></textarea>
            </div>
          </div>
    </form>
</section>
