<nav class="w-full px-[60px] md:px-[60px] lg:px-[110px] xl:px-[200px] 2xl:px-[300px] py-[30px] flex justify-between">
	<img class="w-[50px]" src="/github_logo.png" alt="logo">
	<ul class="flex justify-between self-center w-3/6">
		<li>
			<a href="#">item1</a>
		</li>
		<li>
			<a href="#">item2</a>
		</li>
		<li>
			<a href="#">item3</a>
		</li>
		<li>
			<a href="#">item4</a>
		</li>
	</ul>
</nav>
