<nav class="w-full px-[60px] md:px-[60px] lg:px-[110px] xl:px-[200px] 2xl:px-[300px] py-[30px] flex justify-between">
	<img class="w-[35px]" src="/github_logo.png" alt="logo">
	<ul class="flex justify-between self-center w-3/6">
		<li>
			<a href="#">Inicio</a>
		</li>
		<li>
			<a href="#">Proyectos</a>
		</li>
		<li>
			<a href="#">Contacto</a>
		</li>
		<li>
			<a href="#">Oscuro</a>
		</li>
	</ul>
</nav>
